<div class="form-meals">
  <h2> Entrer votre service </h2>
  <%= render 'form', garde: @garde %>
</div>

<div class="back-button-container d-flex">
  <%= link_to "Retour aux services", gardes_path, class: "little-button-yellow" %>
</div>
