<div class="container">



  <h2 class="mt-3">Mes services</h2>
      <% @my_gardes.each do |garde| %>
        <div class="card-items" >

          <div class="card-item-infos">
            <p><%= garde.name %></p>

            <p><%=  garde.quantity_max %></p>



              <p><%= link_to "Edit", edit_garde_path(garde.id), class:"btn btn-outline-dark" %></p>
              <p><%= link_to "Delete", garde_path(garde.id), class:"btn btn-outline-dark",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
             </p>


          </div>
        </div>
    <% end %>

</div>
